
<!doctype html>
<html lang="en">

    <%- include('../partials/head') %> 

<body class="bg-black">
    <div class="container">
        <%- include('../partials/header') %>
    </div>
<main>
<section>
    <div class="container py-5 h-100 bg-black">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col ">
                <div class="card bg-black text-white">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-center">
                                <div class="col-lg-5 ">
                                    <div class="card section-bg-color-modificar text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Elija lo que va a modificar</h5>
                                            </div>
                                            <form action="/products/list/<%= product.id %>?_method=put" method="POST" class="mt-4">
                                                <div class="form-outline form-white mb-4">
                                                    <input name="marca" type="text" value="<%= product.marca %>" id="productBrand"
                                                        class="form-control form-control-lg" siez="17"
                                                        placeholder="Marca del producto" />
                                                    <label class="form-label" for="productBrand">Marca</label>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <input name="modelo" type="text" value="<%= product.modelo %>" id="productModel"
                                                        class="form-control form-control-lg" siez="17"
                                                        placeholder="Modelo del equipo" />
                                                    <label class="form-label" for="productModel">Modelo</label>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <textarea name="caracteristicas" type="text"  id="descriptionText"
                                                        class="form-control form-control-lg" siez="17"
                                                        placeholder="Especificaciones"><%= product.caracteristicas %></textarea>
                                                    <label class="form-label" for="descriptionText">Descripcion</label>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <select name="categoria" class="form-control form-control-lg" siez="15">
                                                        <option <% if (product.categoria == 1) { %> <%= 'selected' %> <% } %> value='1' class="form-control form-control-lg" siez="15">Gamer</option>
                                                        <option <% if (product.categoria == 2) { %> <%= 'selected' %> <% } %> value='2' class="form-control form-control-lg" siez="15">Design</option>
                                                        <option <% if (product.categoria == 3) { %> <%= 'selected' %> <% } %> value='3' class="form-control form-control-lg" siez="15">Office</option>
                                                    </select>
                                                    <label class="form-label" for="category">Seleccione categoria</label>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <input name="precio" type="number" value="<%= product.precio %>" id="price"
                                                        class="form-control form-control-lg" siez="17"
                                                        placeholder="Precio del equipo" />
                                                    <label class="form-label" for="price">Precio</label>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <button type="submit" class="btn-primary btn btn-block btn-lg text-white">
                                                        <div class="d-flex justify-content-center">
                                                            <span>Modificar</span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container">
    <!-- Footer -->
        <%- include('../partials/footer') %> 
    <!-- Footer -->
</div>
<!-- End of .container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>


